@font-face {
    font-family: 'Anton';
    src: url(Fonts/Anton/Anton-Regular.ttf);
}
@font-face {
    font-family: 'Berlin';
    src: url(Fonts/BRLNSDB.TTF);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #0d9f0d;
    background-size: cover;
    overflow: hidden;
}
.header{
    width: 100%;
    height: 120px;
    background-color: #003900;
}
.table{
    background-color:#72d522;
    width: 100%;
    height: 650px;
}
.LemonBottle{
    width: 800px;
    margin-left: 1100px;
    position: absolute;
}
.headerNav{
    display: flex;
    gap: 150px;
    list-style: none;
    font-size: 22px;
    margin-left: 70px;
    position: absolute;
    margin-top: 50px;
}
.headerNav li a{
    text-decoration: none;
    color: #d5ffb3;
    font-weight: bold;
    transition: 0.5s;
    font-family: "Berlin", sans-serif;
    
}
.headerNav li a:hover{
    color: white;
}
.name h1{
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 180px;
    margin-left: 90px;
    position: absolute;
    margin-top: 120px;
    letter-spacing: 2px;
}

.buyButton{
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-family: 'Anton', sans-serif;
    color: #003900;
    font-size: 40px;
    text-decoration: none;
    margin-top: 380px;
    margin-left: 100px;
    padding: 15px;
    border-radius: 20px;
}
.buyButton:hover{
    background-color: #3b8800;
    color: white;
    transition: 0.5s;
}
.LearnButton{
    position: absolute;
    background-color: #006e00;
    font-family: 'Anton', sans-serif;
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
    margin-top: 380px;
    margin-left: 320px;
    padding: 15px;
    border-radius: 20px;
}
.LearnButton:hover{
    background-color: rgb(204, 255, 167);
    color: #003900;
    transition: 0.5s;
}
.search{
    position: absolute;
    margin-left: 1000px;
    margin-top: -10px;
    padding: 15px;
    padding-right: 320px;
    border-radius: 10px;
}
.searchImg{
    position: absolute;
    width: 35px;
    margin-left: 1450px;
    margin-top: -5px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
.chocBtn{
    position: absolute;
    color: white;
    background-color: chocolate;
    margin-left: 240px;
    padding: 20px;
    font-family: 'Berlin';
    font-size: 15px;
}
.lemonBtn{
    margin-left: 20px;
    position: absolute;
    padding: 20px;
    background-color: #0d9f0d;
    color: white;
     font-family: 'Berlin';
    font-size: 15px;
}
